div#container {
    position: relative;
}

form {
    position: absolute;
}



div.dice {
    position: absolute;
    top: 50px;
    left: 530px;
}

table {
    width: 500px;
    height: 450px;
    border-collapse: collapse;
    border: 1px solid black;
}

caption {
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
}

td {
    width: 20px;
}

tr.section td {
    background-color: rgb(217, 217, 217);
}

td:nth-child(even) {
    background-color: rgb(166, 166, 166);
}

tr.section td:nth-child(1) {
    background-color: rgb(128, 128, 128);
    font-weight: bold;
}

td input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

#doneDice {
    padding-top: 10px;
}
