.darkgray {
    background-color: darkgray;
    font-weight: bold;
    border: solid black;
    
}

.lightgray input{
  
}

.lightgray {
    background-color: lightgray;
    font-weight: bold;
    border: solid black;
}

td input{
    background: none;
    border: none;
    width: 30px;
    box-sizing: border-box;
    height: 25px;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;


    
    
}

#form {
    
}


#diceSim {
    justify-content: right;
    position: absolute;
    right: 500px;

}


#doneDice {
    position: absolute;
    right: 500px;
    padding-top: 10px;

}

table {
    border: 3px solid black;
    width: 500px;
    max-width: 450px;
    height: 450px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

  }




td:nth-child(even) {
    background-color: darkgray;    
}


tr:first-child{
    background-color: lightgray;
}

tr:last-child{
    background-color: lightgray;
}

tr:nth-child(n+8):nth-child(-n+9){
    background-color: lightgray;
}
    




/*tr:nth-child(even) {
background-color:
}

tr: nth-child(odd) {
background-color:
}
*/

